.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-left-custom {
    position: absolute;
    left: 20%;
    transform: translatex(-50%);
}

.navbar-right-custom {
    position: absolute;
    right: 20%;
    transform: translatex(-50%);
}