.profilepic-center {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translatex(-50%);
}

.border-4 {
  border-width: 3px !important;
}

.profilepicdiv {
  width: 175px;
  height: 175px;
}

.profilepicimg {
  width: 160px;
  height: 160px;
}

.profilepicimg:hover {
    color: rgba(0, 0, 0, 1);
    filter: brightness(90%);
    cursor: pointer;
}